.benefitsBanner_Main{
    background: #333333;
    height: 380px;
    opacity: 0.8;
    background-image: url('/home/smbat/Desktop/testconvers/src/Components/HomePage/ConversPoints/PointsSlider/img/benefits.png');
}