*,
*::before,
*::after {
  box-sizing: border-box;
}

.HeaderTop{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 59px;
    
}

.HeaderTopSpan {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat arm';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* color: #666666; */
    opacity: 0.8;
}

.btnBanking {
    border: none;
    text-align: center;
    text-decoration: none;
    width: 130px;
    height: 32px;
    background: #F78E1E;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.globeDivLabel{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    width: 83px;
    height: 32px;
    background-color: #fff;
    border-radius: 10px;
    padding: 0 5px;
}
.globeDivLabel input{
    border: none;
    background: none;
    width: 100%;
    cursor: pointer;
}
.globeDivLabel img {
    position: absolute;
    z-index: 1;
}
.globeDiv{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    width: 83px;
    height: 32px;
    background-color: #fff;
    border-radius: 10px;
    padding: 0 5px;
}

.globeDiv select { 
    width: 90%;
    height: 100%;
    cursor: pointer;
    border: none;
    background: no-repeat;
    text-decoration: none;
    outline: none;
    position : absolute ;
    padding-left: 21px;
}

.globeDiv img {
    position: absolute;
    z-index: 1;
}

.businessMainTab button{
    color: #fff;
 }
 .businessMainTab .Mui-selected{
    color: #F78E1E !important ; 
 }
 .businessMainTab .MuiTabs-indicator {
    background-color : #F78E1E !important ; 

 }