.linksMain{
    border-radius: 20px;
    background-color: rgb(255, 253, 253);
}
.linksItem{
    display: flex;
    align-items: center;
    gap: 21px;
    padding-top: 18px;
    padding-bottom: 18px;

}
.caruselLinks{
    max-height: 140px;
}
.caruselLinks .slick-slide {
    margin-right: 20px;
}
.caruselLinks .slick-list{
    padding:  0px 0px !important;
}

.caruselLinks .slick-prev:before , .caruselLinks .slick-next:before{
    font-size: 52px !important;
    color: #000000;
}
.caruselLinks .slick-prev {
    left: 80px !important;
    top: 25%;
}
.caruselLinks .slick-next {
    right: 80px !important;
    top: 25%;
}

