.MonthlyPaidCont{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    text-align: left;
}
.MonthlyPaidMain{
    /* position: absolute; */
    /* width: 123px;
    height: 17px;
    left: 1000px;
    top: 380px; */
}
.MonthlyPaidFirstSpan{
    width: 135px;
    color : #007DC3;
    display: block;
}

.amountMoney{
    font-family: 'Montserrat arm';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #F78E1E;
}

.lineSum{
    width: 135px;
    color : #acacac;
}