.rateBtn{
    box-sizing: border-box;
    width: 121px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #007DC3;
    border-radius: 10px;
    color: #007DC3;
    cursor: pointer;
}
.greyBack { 
    background-color: #F2F2F2 ;
}
.exchangeBox{
    position: absolute;
    padding: 36px 40px;
    top: 100%;
    right: -20%;
    background: #fff;
    z-index: 2;
    margin-top: 10px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}
.exchangeUpdate{
    display: block;
    text-align: end;
    font-style: Regular; 
    font-size: 12px;
    line-height: 100%;
    vertical-align: top;
    color: #666666;
   
}
