.footerCont{
    width: 100%;
    min-height: 601px;
    padding-top: 64px ;
}

.footerCont span { 
    color: #FFF;
}

.footerTop{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin-bottom: 34px;
}

.footerTop li{
    text-decoration: none;
}

.footerLinks{
    margin-bottom: 20px;
}

.footerMobileTitle{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.footerMobileTitle span { 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.footerMobileSpan { 
    font-family: 'Montserrat arm';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.footerLinks a {
    text-decoration: none;
}

.footerLinks li {
    color: #FFFFFF;
    font-family: 'Montserrat arm';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    list-style: none;
}

.footerBottom span{ 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    font-family: 'Montserrat arm';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

}

.footerPartners{
    width: 57%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  0 auto;
}
